@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-opens;
    @apply text-slate-800;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
}

.image-overlay-50 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.339) 60.63%,
    rgba(0, 0, 0, 0.724) 90.76%,
    rgba(0, 0, 0, 0.865) 100%
  );
}

.p-overlay {
  color: white;
  opacity: 86%;
}
